/* 对于python pygment 生成的, 有些地方不支持深色 */

@import url(pygment.css);
@import url(pygments_by_pydata.css);

.literal-block{
	background: rgb(44, 44, 44);
	/* color: rgb(183, 183, 183); */
}
/* 代码预览 */
.highlight pre{
	background: rgb(44, 44, 44);
}
pre{
	color: #fbf7f7;

	/* 代码超出边界时, 允许滚动 */
	overflow-x: auto;
	opacity: 0.7;
}
/* .c1{
	color: #7cc2d4;
}
.kc{
	color: #058e2c;
}
.kt{
	color: #f08c6f;
}
.m{
	color: #53db97;
}
.na{
	color: #bcd8f5;
}
.nt {
	color: #4880c8;
}
.nf {
	color: #bacdff;
}
.nv{
	color: #f0bbff;
}
.s{
	color: #6ab4ff;
}
.s1{
	color: #6ffff2;
}
.s2{
	color: #7abcff;
}

.o{
	color: #e5e5e5;
}

.nb{
	color: #96c8a5;
} */

html[data-theme="dark"] .highlight .nn{
	color: #0E84B5;
}
html[data-theme="dark"] .highlight .kn{
	color: #007020;
}
html[data-theme="dark"] .highlight .k{
	color: #a005bd
}
html[data-theme="dark"] .highlight .nc{
	color: #009898;
}
html[data-theme="dark"] .highlight .kc{
	color: #9b3bac;
}

html[data-theme="dark"] .highlight{
	border-radius: 12px;
}


