/* 引入字体 */
/* @font-face {
	font-family: FontAwesome;
	src: url(font-awesome/webfonts/fa-v4compatibility.ttf);
} */

@import url(html-var.css);


/* 默认的黑色主题 */
html, html > body *:not(a):not(.highlight):not(pre):not(span),
html > body *[class]:not(a):not(.highlight):not(pre):not(span),
html > body *[id]:not(a):not(.highlight):not(pre):not(span){
	color: var(--g-color);
}
/* a {
	color: #6091c1 !important;
} */
html > body[class]:not a:not(.button),
html > body[class]:not a[class]{
	color: var(--g-a-color);
}

/* 全局 按钮 链接 标签 */
a:hover, a:hover *,
a:visited:hover,
a:visited:hover *,
span[onclick]:hover,
div[onclick]:hover,
[role="link"]:hover,
[role="link"]:hover *,
[role="button"]:hover *,
[role="menuitem"]:hover,
[role="menuitem"]:hover *,
.link:hover,
.link:hover * {
  color: var(--g-a-color2) !important;
  background-color: var(--g-a-bg-color) !important;
}

/* home a 标签 */
.page-home > h1 > a,
.page-head-content > a{
	color: var(--g-a-color) !important;
}
.page-home > h1 > a:hover{
	background: unset !important;
	color: var(--g-a-color) !important;
}

/* 文章内容主题区域 */
.box {
	background: var(--main-area-bg-color) !important;
}
.actions a{
	background-color: var(--g-a-action-color) !important;
}
#main-wrapper{
	background: var(--main-area-bg-color) !important;
}


/*  */
.page-index{
	text-align: center;
	height: 1em;
}
	.page-index > div,
	.page-head > div,
	.container > div{
		background-color: unset !important;
	}

.red-line{
	border-bottom: 2px solid red !important;
	width: 10% !important;
	margin-left: 47.5%;
	margin-top: -3.5%;
	height: 1px;
}

.page-index .page-index-head-content{
	height: 1em;
	margin-top: -1%;
	font-style: italic;
}

.page-head {
	text-align: center;
	margin-top: 14%;
}

/* .page-head .page-index-head-content{
	height: 1em;
	margin-top: -1%;
} */


#header {
	width: 100%;
}

	#header .page-home {
		text-align: left;
		display: inline-block; /* 将 div 设置为内联块元素 */
	}

	#header .page-menu {
		text-align: right;
		display: inline-block; /* 将 div 设置为内联块元素 */
		width: 80%; /* 或者根据需要设置宽度 */
		vertical-align: top; /* 垂直对齐方式，可选 */
	}

.page-archives > h2{
	margin-bottom: 2em;
}
.page-archives > div{
	/* display: inline-block; */
	/* margin-left: 1%; */
}
.page-archives > div > .row {
	width: 100%;
	margin-left: unset !important;
	/* margin-left: 1%; */
}
	.page-archives > div > .row:not(:first-child) {
		/* margin-top: -4%; */
	}
	.page-archives > div > .row > .column{
		display: inline-block;
		padding: 1px;
	}
	.page-archives > div > .row > .column-25{
		/* width: 10%; */
		padding-right: 10px;
	}
	.page-archives > div > .row > .column-75{
		width: 70%;
	}

/* 小节 */
dl.docutils {
	margin-top: 5px;

}
dt{
	font-weight: 800 !important;
	color: #91ee58d9 !important;
}
/* todo:  dt dt 没用... 不知道为啥 */
/* dt dt{
	color: #6da64ad9 !important;
} */
dd{
	margin-left: 1% !important;
}

/* 头部菜单 */
#nav > ul > li.active > a {
    /* background: rgb(44, 44, 44) !important; */
	background: unset;
	color: #b871ff;
    font-weight: 500;
}
.page-menu > #nav a {
	color: #cdc1c1;
}

/* 导入sphinx主题alabaster的alabaster.css */
/* @import url("alabaster.css"); */
/* 导入无效, 还是直接放在html吧 */




/* for custom sphinx directive */
/* toctree 的 a标签 */
.sphinx-toc-tree{
	padding: 2px;
	display: block;
	width: fit-content;	/* 宽度自适应 内容长度 */
	font-size: 19px;
}


/* 文章主体内容区域 */
.is-post h2{
	/* color: #b5b5b5b5; */
}


/* sidebar */
.sidebar{
    border-left: var(--g-radius-border);
    border-radius: var(--g-border-radius);
    padding-left: 7px;
    width: 30%;

	margin-left: 70%;	/* 统一不使用 float, 否则多个会并排在一起 */
}
/* .sidebar:is(:last-child) {
    margin-left: 70%;
}
.sidebar:not(:last-child) {
    float: right;
} */
.sidebar .first.sidebar-title{
	color: #ff9292b5;
	font-size: 19px;
}
.sidebar:not(:has(.first.sidebar-title)):before {
    content: "SideBar";
    color: #ff9292b5;
    display: block;
    font-size: 19px;
    margin-bottom: 12px;
}

/* 引用内容显示 */
blockquote {
    border-left: var(--g-radius-border) !important;
    padding-left: 20px !important;
    border-radius: var(--g-border-radius);
}


/* note 注解 */
.admonition,
div.admonition p.admonition-title{
	display: block;
}
div.admonition{
    border-radius: var(--g-border-radius);
	padding: 0px;
	border-left: var(--g-radius-border-no-color) #7fffd478;
}
div.admonition > .admonition-title{
	background-color: #7fffd426;
	padding: 5px !important;
}
div.admonition > p[data-relingo-block="true"],
/* div.admonition > .last, */
div.admonition > *:not(.first),
div.admonition > .simple{
	padding-left: 5px;
}
div.admonition p{
	margin: 0;
}
.admonition.note > .first.admonition-title{
	font-size: 12px;
}
.admonition.note > .first.admonition-title::before{
	font-family: 'Font Awesome 6 Free Web';
	content: var(--g-content-icon-admonition-note);
}

/* 禁止横向滚动 */
html, body{
	overflow-x: hidden;
}


/* 正文 标题 */
.is-post h2 {
	padding: 0.9em 0 0.5em 0 !important;
}

/* 文章目录 */
#top-toc-tree-container{
    max-width: 300px;
    min-width: 120px;
    height: 400px;
    overflow-y: auto;
    overflow-x: unset;
	bottom: 120px;
}
	/* 所有弹出层容器 */
	.fixed-container{
		position: fixed;
		z-index: 2;
		background: #1b1b1b99;
		right: 30px;
		bottom: 100px;
		padding: 5px;
		border-radius: var(--g-border-radius);
	}
	#top-toc-tree-container li ul{
		padding-left: 10px;
		margin-bottom: 1px;
	}
	#top-toc-tree-container a{
		color: #ade7ecd9;
		text-decoration: none;
	}
	#top-toc-tree-container .toc-contents-title{

	}
	.tool-tip-text{
		visibility: hidden;
		width: 50px;
		background-color: #00000090;
		color: var(--g-tip-text-color);
		text-align: center;
		/* padding: 5px 0; */
		border-radius: 6px;
		font-size: 10px;

		/* 定位 */
		position: absolute;
		z-index: 1;

		margin-top: -10px;
	}
	#top-toc-tree-container .toc-contents-title > h4{
		width: 70px;
		cursor: pointer;
	}
	#top-toc-tree-container .toc-contents-title > h4:hover{
		display: inline;
	}
	#top-toc-tree-container .toc-contents-title > h4:hover + .tool-tip-text{
		visibility: visible;
		display: inline;
	}
	.no-active{
		display: none;
	}

	/* 目录隐藏后的工具栏 */
	#sidebar-tools::before{
		font-family: "Font Awesome 6 Free Web";
		content: "\f550";
	}
	#sidebar-tools{
		cursor: pointer;
		bottom: 120px;
		/* height: auto;
		width: auto;
		overflow: hidden; */
		/* margin-right: 80px; */
	}
	#sidebar-tools:hover::after{
		content: "目录";
		width: 30px;
		font-size: 10px;
		margin-top: -10px;
		color: var(--g-tip-text-color);
		position: absolute;
		/* right: 80px; */
	}

	/* 侧边工具 回滚/滚动 到顶部 */
	#sidebar-tool-back-top{
		cursor: pointer;
		bottom: 80px;
	}
	#sidebar-tool-back-top::before{
		font-family: "Font Awesome 6 Free Web";
		content: "\f062";
	}
	#sidebar-tool-back-top:hover::after{
		content: "顶部";
		width: 30px;
		font-size: 10px;
		margin-top: -10px;
		color: var(--g-tip-text-color);
		position: absolute;
	}

/* 指令 参数 选项 */
table.docutils.field-list,
table.docutils.option-list{
	border: none;
    box-shadow: none;
	border-left: var(--g-radius-border-no-color) #7fffd478;
    border-radius: var(--g-border-radius);

	/* 解决 table 圆角无效 */
	/* border-spacing: 0; */
    border-collapse: separate;
}
	table.docutils.option-list::-webkit-scrollbar{
		/* 取消滚动条, 避免对圆角影响 */
		/* display: none; */
	}
	.docutils.field-list td,
	.docutils.field-list th,
	.docutils.option-list td{
		border: none;
	}
	/* 选项 */
	.docutils.field-list td:first-child span,
	.docutils.option-list td:first-child span{
		color: #8affd7f0;
		background-color: #191703;		/* 偏黄一点的黑 */
	}
	/* 选项参数 */
	.docutils.field-list td:first-child var,
	.docutils.option-list td:first-child var{
		color: #36defff0;
		background-color: #191703;		/* 偏黄一点的黑 */
	}

	/* 表格, 双冒号表格 */
	table.docutils.field-list{
		border: none;
		padding-top: 10px;
	}
	.docutils.field-list td,
	.docutils.field-list th{
		display: block;
	}
	.docutils.field-list th{
		text-align: left;
	}
	.docutils.field-list td{
		padding-left: 5px;
	}

/* 元素不允许被选中 */
.cant-select{
	user-select: none;
}

/* 列表 */
.simple li[data-relingo-block="true"]{
	margin-left: 10px;
}
.simple li[data-relingo-block="true"]::before{
	content: " - ";
	color: #7fffd4b5;
}

/* 斜体 */
cite{
	font-style: italic !important;
}

/* 小 标题, 自动生成的id可能跟默认的有冲突, 比如 copyright */
.section *:only-child{
	/* padding: 10px 0; */
}

/* 代码渲染部分与其他部分的间隔 */
/* .highlight pre, */
pre{
	margin: 10px 0;
}

/* 主要区块颜色 */
#footer-wrapper h2, #footer-wrapper h3, #footer-wrapper h4, #footer-wrapper h5, #footer-wrapper h6, #footer-wrapper strong, #footer-wrapper b{
	color: #d1c8c8;
}
